.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
test/sby/config/
test/sby/config_taskbmc/
test/sby/config_taskcover/
*Zone.Identifier
*.ron
test/fpga/ESP32_C6_fpga_test/build
